
.board-header-styled {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #eee;
  margin: 0.5rem;
}

.board-actions-wrapper {
  margin: 0.5rem;
}